<a href="https://colab.research.google.com/github/saideep8/phptermproject/blob/main/icp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Question 1
print("-----Solution 1-----------------")
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
minAge = ages[0]
maxAge = ages[-1]
print("Sorted ages:", ages)
print("Min age:", minAge)
print("Max age:", maxAge)
ages.append(minAge)
ages.append(maxAge)
print("Ages after adding min and max again:", ages)
ages.sort()
n = len(ages)
if n % 2 == 0:
    median_age = (ages[n//2 - 1] + ages[n//2]) / 2
else:
    median_age = ages[n//2]
print("Median age:", median_age)
averageAge = sum(ages) / n
print("Average age:", averageAge)
ageRange = maxAge - minAge
print("Range of ages:", ageRange)

-----Solution 1-----------------
Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26
Ages after adding min and max again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median age: 24.0
Average age: 22.75
Range of ages: 7

In [ ]:
#Question 2
print("-----Solution 2-----------------")
dog = {}
dog['name'] = 'Ziva'
dog['color'] = 'Brown'
dog['breed'] = 'German Shepherd'
dog['legs'] = 4
dog['age'] = 2
print("Dog dictionary:", dog)
student = {
    'first_name': 'Saideep Reddy',
    'last_name': 'Vurivakili',
    'gender': 'Male',
    'age': 26,
    'marital_status': 'Single',
    'skills': ['Python', 'Java', 'JavaScript'],
    'country': 'USA',
    'city': 'Overland Park',
    'address': 'Russell St'
}
print("Student dictionary:", student)
student_length = len(student)
print("Length of student dictionary:", student_length)
skills = student['skills']
print("Skills:", skills)
print("Data type of skills:", type(skills))
student['skills'].append('React')
student['skills'].append('Express.js')
print("Updated skills:", student['skills'])
student_keys = list(student.keys())
print("Dictionary keys:", student_keys)
student_values = list(student.values())
print("Dictionary values:", student_values)

-----Solution 2-----------------
Dog dictionary: {'name': 'Ziva', 'color': 'Brown', 'breed': 'German Shepherd', 'legs': 4, 'age': 2}
Student dictionary: {'first_name': 'Saideep Reddy', 'last_name': 'Vurivakili', 'gender': 'Male', 'age': 26, 'marital_status': 'Single', 'skills': ['Python', 'Java', 'JavaScript'], 'country': 'USA', 'city': 'Overland Park', 'address': 'Russell St'}
Length of student dictionary: 9
Skills: ['Python', 'Java', 'JavaScript']
Data type of skills: <class 'list'>
Updated skills: ['Python', 'Java', 'JavaScript', 'React', 'Express.js']
Dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Dictionary values: ['Saideep Reddy', 'Vurivakili', 'Male', 26, 'Single', ['Python', 'Java', 'JavaScript', 'React', 'Express.js'], 'USA', 'Overland Park', 'Russell St']

In [ ]:
#Question 3
print("----Solution 3-----------------")
sisters = ('Anitha', 'Prathyusha')
brothers = ('Thej', 'Nitheesh')
siblings = sisters + brothers
print("Siblings:", siblings)
num_siblings = len(siblings)
print("Number of siblings:", num_siblings)
family_members = siblings + ('Ravi', 'Suji')
print("Family members:", family_members)

----Solution 3-----------------
Siblings: ('Anitha', 'Prathyusha', 'Thej', 'Nitheesh')
Number of siblings: 4
Family members: ('Anitha', 'Prathyusha', 'Thej', 'Nitheesh', 'Ravi', 'Suji')

In [ ]:
#Question 4
print("----Solution 4-----------------")
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
len_it_companies = len(it_companies)
print("Length of it_companies:", len_it_companies)
it_companies.add('Twitter')
print("it_companies after adding 'Twitter':", it_companies)
new_companies = {'Corsair', 'CapitalOne', 'Yubi'}
it_companies.update(new_companies)
print("it_companies after adding multiple companies:", it_companies)
it_companies.remove('Amazon')
print("it_companies after removing 'Amazon':", it_companies)
#the remove() method will raise an error if the specified item does not exist, and the discard() method will not.
A_union_B = A.union(B)
print("A union B:", A_union_B)
A_intersection_B = A.intersection(B)
print("A intersection B:", A_intersection_B)
is_A_subset_B = A.issubset(B)
print("Is A subset of B:", is_A_subset_B)
are_A_B_disjoint = A.isdisjoint(B)
print("Are A and B disjoint sets:", are_A_B_disjoint)
A_union_B_again = A.union(B)
B_union_A = B.union(A)
print("A union B again:", A_union_B_again)
print("B union A:", B_union_A)
A_symmetric_difference_B = A.symmetric_difference(B)
print("Symmetric difference between A and B:", A_symmetric_difference_B)
del A
del B
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

----Solution 4-----------------
Length of it_companies: 7
it_companies after adding 'Twitter': {'Facebook', 'Apple', 'Microsoft', 'Google', 'Twitter', 'Amazon', 'IBM', 'Oracle'}
it_companies after adding multiple companies: {'Corsair', 'Facebook', 'Apple', 'Microsoft', 'Twitter', 'CapitalOne', 'IBM', 'Oracle', 'Google', 'Amazon', 'Yubi'}
it_companies after removing 'Amazon': {'Corsair', 'Facebook', 'Apple', 'Microsoft', 'Twitter', 'CapitalOne', 'IBM', 'Oracle', 'Google', 'Yubi'}
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint sets: False
A union B again: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Length of age list: 8
Length of age set: 5

In [ ]:
#Question 5
import math
print("----Solution 5-----------------")
radius = 30
circleArea = math.pi * (radius ** 2)
print("Area of the circle with radius 30 meters:", circleArea)
circum = 2 * math.pi * radius
print("Circumference of the circle with radius 30 meters:", circum)
user_radius = float(input("Enter the radius of the circle: "))
user_area_of_circle = math.pi * (user_radius ** 2)
print("Area of the circle with user-provided radius", user_radius, "meters:", user_area_of_circle)

----Solution 5-----------------
Area of the circle with radius 30 meters: 2827.4333882308138
Circumference of the circle with radius 30 meters: 188.49555921538757
Enter the radius of the circle: 2
Area of the circle with user-provided radius 2.0 meters: 12.566370614359172

In [ ]:
#Question 6
print("----Solution 6-----------------")
sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split()
unique_words = set(words)
num_unique_words = len(unique_words)
print("Number of unique words:", num_unique_words)
print("Unique words:", unique_words)

----Solution 6-----------------
Number of unique words: 10
Unique words: {'a', 'I', 'and', 'teach', 'inspire', 'teacher', 'am', 'love', 'people', 'to'}

In [ ]:
#Question 7
print("----Solution 7-----------------")
print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

----Solution 7-----------------
Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

In [ ]:
#Question 8
print("----Solution 8-----------------")
radius = 10
area = 3.14 * radius ** 2
message = "The area of a circle with radius {} is {} meters square.".format(radius, area)
print(message)

----Solution 8-----------------
The area of a circle with radius 10 is 314.0 meters square.

In [ ]:
#Question 8
print("----Solution 8-----------------")
def lbs_to_kg(pounds):
    return round(pounds * 0.453592, 2)
N = int(input("Enter the number of students: "))
weights_lbs = []
print("Enter the weights of the students in pounds:")
for _ in range(N):
    weight = float(input())
    weights_lbs.append(weight)
weights_kg = []
for weight in weights_lbs:
    weights_kg.append(lbs_to_kg(weight))
print("Weights in pounds:", weights_lbs)
print("Weights in kilograms:", weights_kg)

Enter the number of students: 2
Enter the weights of the students in pounds:
100
200
Weights in pounds: [100.0, 200.0]
Weights in kilograms: [45.36, 90.72]